{% block nav %}
<nav class="navbar is-info">
    <div class="navbar-brand">
        <p class="avenir tl f2">Brown Bear Analytics</p>
        <div class="navbar-burger burger" data-target="navbar-head">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navbar-head" class="navbar-menu">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="">
                Sitios
            </a>
            <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href='/'>
                    Noticias
                </a>
                <a class="navbar-item" href='graficas/'>
                    Gráficas
                </a>
            </div>
        </div>
</nav>
{% endblock %}