{% block nav %}
<nav class="navbar is-info">
    <div class="navbar-brand">
        <p class="avenir tl f2">Brown Bear Analytics</p>
        <div class="navbar-burger burger" data-target="navbar-head">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navbar-head" class="navbar-menu">
        <div class="navbar-start is-link">
            <a class="navbar-item" href="">
                    prueba navbar
            </a>
        </div>
    </div>
</nav>
{% endblock %}